SIGN_KEY = 'oc3q7ingf978mx457fgk4587fg847'
RUCAPTCHA_KEY = ''
NAME = ''
USER_ID = 0
TOKEN = ''
HUMAN_CAPTCHA_SOLVE = True
VKTOKEN = ''
VK_USER_ID = ''
bet1 = 2500
bet2 = 1000 
bet3 = 1000
level = 'INFO'